@model YourRide.Models.Ocjena

@{
    ViewData["Title"] = "Uredi";
}

<h1>Edit</h1>

<h4>Ocjena</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="ocjena" class="control-label"></label>
                <input asp-for="ocjena" class="form-control" />
                <span asp-validation-for="ocjena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="komentar" class="control-label"></label>
                <input asp-for="komentar" class="form-control" />
                <span asp-validation-for="komentar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KorisnikId" class="control-label"></label>
                <select asp-for="KorisnikId" class="form-control" asp-items="ViewBag.KorisnikId"></select>
                <span asp-validation-for="KorisnikId" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top:20px;">
                <input type="submit" value="Spremi" class="btn text-white" style="background-color: #2d7c85;" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" style="color: #2d7c85;">Nazad na listu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
