@model YourRide.Models.Lokacija

@{
    ViewData["Title"] = "Uredi";
}

<h1>@ViewData["Title"]</h1>

<h4>Lokacija</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Grad" class="control-label"></label>
                <input asp-for="Grad" class="form-control" />
                <span asp-validation-for="Grad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Naziv" class="control-label"></label>
                <input asp-for="Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Latituda" class="control-label"></label>
                <input asp-for="Latituda" class="form-control" />
                <span asp-validation-for="Latituda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longituda" class="control-label"></label>
                <input asp-for="Longituda" class="form-control" />
                <span asp-validation-for="Longituda" class="text-danger"></span>
            </div>
            <div class ="form-group" style="margin-top:20px;">
                <input type="submit" value="Spremi" class="btn text-white" style="background-color: #2d7c85;" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" style="color: #2d7c85;">Nazad na listu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
