@{
    ViewData["Title"] = "Početna";
    var isPutnik = ViewData["IsPutnik"] as bool? ?? false;
    var isTehnicka=ViewData["isTehnicka"] as bool? ?? false;
}

<link rel="stylesheet" href="~/css/style.css" />

<div class="main-container">
    <div class="sidebar">
        <ul>
            
            <li><i class="fas fa-user"></i> <a asp-controller="Profile" asp-action="Index">Profil</a></li
                @if(!isTehnicka){
            <li><i class="fas fa-headset"></i> <a asp-controller="PodrskaPoruka" asp-action="NovaPoruka">Podrška</a></li>
                }
        </ul>
    </div>

    <div class="content">
        <div class="welcome-card">
            <img src="~/images/car.png" alt="Auto" class="car-icon" />
            <h1>YourRide</h1>
            <p>Uživajte u vožnji sa nama!</p>

            @if (isPutnik)
            {
                <button class="start-button" onclick="location.href='@Url.Action("PrikazSlobodnihVozaca", "Home")'">
                    Započni
                </button>
            }
        </div>
    </div>
</div>
