@{
    ViewData["Title"] = "Privatnost";
}

<h1>@ViewData["Title"]</h1>

<p>
    Aplikacija <strong>YourRide</strong> je servis za povezivanje putnika i vozača u stvarnom vremenu.
    Pruža efikasne, brze i jednostavne usluge koje omogućavaju putnicima da lako pronađu dostupne vozače u svojoj blizini.
</p>

<p>
    Putnicima je omogućeno da putem interaktivne mape ili liste pregledaju trenutno dostupne vozače, te nakon izbora vozača pošalju zahtjev za vožnju sa tačnom lokacijom preuzimanja.
    Vozač može prihvatiti ili odbiti zahtjev, a u slučaju prihvatanja prikazuje se procijenjeno vrijeme dolaska na lokaciju.
</p>

<p>
    Nakon završetka vožnje, sistem omogućava ocjenjivanje i ostavljanje komentara, čime se postiže bolja kvaliteta usluge i sigurnost korisnika.
</p>



<hr />

<h2>Privatnost i zaštita podataka</h2>

<p>
    Vaša privatnost nam je važna. Prikupljamo samo neophodne podatke potrebne za pružanje naših usluga, poput informacija o lokaciji i kontakt podataka.
</p>

<p>
    Podaci se koriste isključivo za omogućavanje funkcionalnosti aplikacije, kao što su povezivanje putnika i vozača, te poboljšanje kvalitete usluge.
</p>

<p>
    Ne dijelimo vaše lične podatke s trećim stranama bez vašeg izričitog pristanka, osim kada je to zakonski obavezno.
</p>

<p>
    Koristimo sigurnosne mjere kako bismo zaštitili vaše informacije od neovlaštenog pristupa i zloupotrebe.
</p>

<p>
    Za sva pitanja vezana za privatnost i zaštitu podataka, slobodno nas kontaktirajte putem naše podrške.
</p>

